<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name= "eprocEntities" connectionString="metadata=res://*/DataAccess.EF.Eproc.csdl|res://*/DataAccess.EF.Eproc.ssdl|res://*/DataAccess.EF.Eproc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sera15016;initial catalog=eprocurement;user id=eprocuser;password=eproc15016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <appSettings>

    <add key="LogFolderPathSIS" value="D:\PURCHASEORDER\log" />
    <add key="LogErrorFolder" value="D:\PURCHASEORDER\log" />
    <!--<add key="PathFolderInput" value="E:\Streamliner\XMLFILE\" />-->
    <add key="PathFolderInput" value="D:\PURCHASEORDER\NONB2B\" />

    <add key="Username" value="genrpt" />
    <add key="Password" value="serasera" />
    <add key="AppLogger" value="on" />
    
  </appSettings>
</configuration>